@import '~antd/dist/antd.css';
article,
aside,
blockquote,
body,
button,
code,
dd,
details,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
legend,
li,
menu,
nav,
ol,
p,
pre,
section,
td,
th,
ul {
  margin: 0;
  padding: 0;
  user-select: none;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
  // height: 100%;

  height: 2499px;
}

.container_frame {
  width: 100%;
  // height: 2500px;
  height: 100%;
  margin-top: -15px;
  display: flex;
}
.container_left {
  width: 700px;
  height: 100%;
  // color: #000;
  // background: #fff;
  border: 1px solid #f3f3f3;
  // margin-left: 110px;
}
.container_left1 {
  width: 800px;
  height: 100%;
  // background: pink;
}
.container_right {
  width: 300px;
  // background: rgb(230 234 237);
  margin-left: 30px;
  display: block;
}
.container_right_toplist {
  flex: 1;
  // color: #000;
  // background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 25px;
}
.container_right_toplist h3 {
  border-bottom: 2px solid #ccc;
}
.container_right_toplist p {
  margin-top: 8px;
}
.container_right_toplist p:hover {
  color: #f00;
}
.container_right_bottomlist {
  // background: #fff;
  flex: 1;
  // height: 100px;
  border: 1px solid #ccc;
}
.container_right_bottomlist h3 {
  border-bottom: 2px solid #ccc;
}
.container_right_bottomlist p {
  margin-top: 8px;
}
.container_right_bottomlist p:hover {
  color: #f00;
}
.container_right_bottom {
  margin-top: 25px;
  width: 280px;
  height: 97px;
  // background: rgb(230 234 237);
  .Icont {
    margin-left: 105px;
  }
  .spa {
    margin-left: 30px;
  }
  span {
    // margin-left: 5px;
    // background: #000;
    color: #515253;
  }
  .leftt {
    margin-left: 110px;
  }
  a {
    color: #515253;
  }
  p {
    color: #515253;
  }
}

.basefooter {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .container_right {
    display: none;
  }
}
