#root,
.container,
.index,
.container_left,

.container_right_bottomlist,
.container_right_bottom,
.container_frame,
.detale_wrap,
.Right_List_h3,
.Right_List_header,
.section {
  background: @bg-color;
  color: @text-color;
}

.container_frame {
  background: @bg-color;
  color: @text-color;
}

/*
.container_right_toplist,
*/