.about {
  width: 100%;
  margin: 0 auto;
}
.aboutchildern {
  // width: 1480px;
  // height: 400px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aboutchildern img {
  width: 750px;
  height: 350px;
}
.Aboutupdata {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Aboutupdata h1 {
  width: 780px;
  font-size: 25px;
  text-align: center;
  font-weight: 100;
}
.aboutupdataChildren {
  width: 800px;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: left;
  margin: 0 auto;
  font-weight: 100;
  font-size: 17px;
}
.aboutupdataChildren ul li {
  font-size: 14px;
}
.Huifu {
  width: 800px;
  background: #fff;
}

.aboutCommit {
  margin-top: 30px;

  // width: 1400px;
  display: flex;
  background: #fff;
}
.aboutCommit > div {
  width: 1000px;
  margin: 0 auto;
}
