.img {
  margin-top: 10px;
  width: 700px;
  height: 340px;
  position: relative;
}
.img img {
  width: 630px;
  height: 280px;
  margin-left: 25px;
  position: relative;
}
.img h2 {
  position: absolute;
  margin-top: -150px;
  margin-left: 150px;
}
.img p {
  position: absolute;
  margin-top: -120px;
  margin-left: 170px;
  color: #000;
}
.some {
  width: 100%;
  height: min-content;
  // overflow: hidden;
}
.bigimg {
  width: 700px;
  margin-left: 8px;
  margin-top: 5px;
}
.bigimg h1 {
  font-size: 30px;
  text-align: center;
}
.bigimg p {
  margin-left: 160px;
}
.bigimg img {
  width: 670px;
}
.floor {
  margin-top: 20px;
  width: 700px;
  color: #000;
}
.left {
  // overflow-y: auto;
  height: 480px;
  margin-top: 10px;
  width: 800px;

  margin-left: 20px;
}
.left p {
  line-height: 35px;
}
.left p:hover {
  color: red;
}
.left span {
  line-height: 35px;
}
.left span:hover {
  color: red;
}
.sum {
  position: absolute;
  width: 30px;
  height: 20px;
  // background: red;
  margin-left: -25px;
  margin-top: 95px;
  // font-size: 20px;
  // background: red;
}
.sum span {
  font-size: 15px;
  color: red;
  position: absolute;
  margin-left: -7px;
  margin-top: -3px;
}
.sum span:hover {
  color: red;
}
.floor p {
  position: absolute;
  margin-left: -30px;
  margin-top: 95px;
  font-size: 20px;
}
.floor p:hover {
  color: red;
}
.modal img {
  width: 200px;
}
.site-back-top-basic {
  color: rgba(64, 64, 64, 0.6);
}
.floor button:hover {
  color: red;
}
