.wrap {
  width: 100%;
  height: 100%;
}
.wrap_1 {
  height: 100%;
  margin-left: 80px;
  display: flex;
}
.left {
  width: 900px;
  padding-top: 1rem;
  padding-bottom: 2rem;
  background: white;
  border: 1px solid #ccc;
}
.left_div {
  width: 100%;
  height: 150px;
  border-bottom: 2px solid #ccc;
  position: relative;
}
.left_div h4:hover {
  color: #f00;
}
.left_div p:hover {
  color: #f00;
}
.left_div span:hover {
  color: #f00;
}
.right {
  width: 360px;
  background: #f00;
  margin-left: 50px;
  // width: 18rem;
  // margin-left: 1rem;
  // padding-top: 1rem;
  // padding-bottom: 1rem;
}
.imgs {
  width: 120px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate3d(-50%, -50%, 0);
  object-fit: cover;
}
.p1 {
  margin-bottom: 70px;
}

.detale_wrap {
  width: 100%;
  height: 100%;
  // background: #e7eaee;
  // overflow-y: scroll;
  // background: #f00;
}
.images {
  width: 804px;
  height: 357px;
}
.detale_wrap3 {
  width: 804px;
  height: 100%;
  overflow-wrap: break-word;
}
.detale_html {
  width: 804px;
  height: 100%;
}
// #bigbox{
//     width: 1000px;
//     height: 100000px;
//     background: pink;
// }
.left_div h4 {
  margin-left: 20px;
  margin-top: 20px;
}
.left_div span {
  margin-left: 20px;
  // margin-top: 20px;
}
.left_div .small {
  float: left;
}
