.loading {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  cursor: pointer;
  color: #000;
}

.index {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;

  align-items: center;

  header {
    width: 100%;
    height: 55px;

    display: flex;
    justify-content: center;

    padding: 0 10px;
    box-sizing: border-box;
    background: #fff;
    margin-bottom: 25px;
    box-shadow: 1px 1px 1px #fff;

    .indexhead {
      // width: 1300px;
      width: 100%;
      height: 55px;
      display: flex;
      justify-content: space-around;

      .nav_left {
        width: 600px;
        height: 50px;
        margin-left: 150px;
        display: flex;
        justify-content: center;
        align-items: center;

        .index_manu {
          // flex: 1;
          width: 500px;
          cursor: pointer;
          display: block;
        }
      }

      .nav_right {
        width: 350px;
        height: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .nav_right_select {
          width: 80px;
          border: 0px solid;
          outline: none;
          cursor: pointer;
          color: #000;
          display: block;
        }

        .nav_right_select_option {
          border: 0px solid;
          outline: none;
          cursor: pointer;
          color: #000;
        }

        .nav_right_select:hover {
          color: red;
        }

        .nav_right_off {
          width: 30px;
          cursor: pointer;
          color: #000;
        }

        .nav_right_off:hover {
          color: red;
        }

        .nav_right_search {
          width: 30px;
          size: 40px;
          font-size: 25px;
          cursor: pointer;
          color: #000;
        }

        .nav_right_search:hover {
          color: red;
        }

        .nav_rigint_login {
          width: 50px;
          height: 25px;
          border: 1px solid #ccc;
          cursor: pointer;
          color: #000;
        }

        .nav_rigint_login:hover {
          color: red;
          border: 1px solid red;
        }
        .xiang {
          display: none;
          z-index: 999;
        }
        .dis_xy {
          display: none;
        }
      }
    }
  }

  section {
    flex: 1;
    margin-left: 100px;
  }
}

.index_medalP {
  width: 600px;
  height: 40px;
  display: flex;
  align-items: center;
}
.index_SearchInput {
  width: 450px;
  height: 35px;
}
.index_SearchIcon {
  width: 30px;
  height: 30px;
  border: 1px solid;
  line-height: 30px;
  text-align: center;
}
.SearchData {
  width: 100%;
  display: none;
}
.SearchData1 {
  width: 100%;
  display: block;
}
footer {
  margin-top: -30px;
  display: flex;
  width: 100%;
  height: 80px;
  text-align: center;
  align-items: center;
  border-bottom: #ccc solid 1px;
  border-top: #fff solid 20px;
  a {
    color: #000;
    margin-left: 30px;
  }
}
main {
  width: 100%;
  height: 800px;
}

//登录
.login {
  width: 100px;
  p {
    margin-top: 20px;
  }
  .buttonlogin {
    width: 150px;
    height: 25px;
    background: red;
    color: #fff;
    border: none;
    margin-left: 150px;
    margin-top: 20px;
  }
}
.indexImg {
  width: 30px;
  height: 25px;
}

@media screen and (max-width: 900px) {
  .indexhead {
    width: 800px;
    height: 100%;
    .index_manu {
      display: none;
    }
    .nav_right_select {
      display: none;
    }
  }
  .xiang {
    display: block;
  }
}
