.wrap {
  width: 100%;
  height: 700px;
}
.wrap_1 {
  height: 100%;
  margin-left: 80px;
  display: flex;
}
.left {
  width: 950px;
  padding-top: 1rem;
  padding-bottom: 2rem;
  background: white;
  border: 1px solid #ccc;
}
.left_div {
  width: 660px;
  height: 150px;
  // border-bottom: 2px solid #ccc;
  box-shadow: 0px 1px 1px #f3f3f3;
  position: relative;
}
.header {
  width: 100%;
  height: 50px;
}
.div_1 {
  width: 250px;
  height: 20px;
  font-weight: 900;
  margin-top: 10px;
  margin-left: 15px;
  line-height: 20px;
  font-size: 18px;
  float: left;
  border-right: 2px solid #ccc;
}
.div_2 {
  width: 80px;
  height: 20px;
  float: right;
}
.left_div .div_1:hover {
  color: #f00;
}
.right {
  width: 360px;
  background: #f00;
  margin-left: 50px;
}
.imgs {
  width: 120px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate3d(-50%, -50%, 0);
  object-fit: cover;
}
.p2 {
  margin-left: 15px;
  margin-top: 15px;
}
.p1 {
  margin-bottom: 70px;
}

.detale_wrap {
  width: 100%;
  height: 100%;
}
.images {
  width: 100%;
  height: 357px;
}
.detale_wrap3 {
  width: 804px;
  height: 100%;
  overflow-wrap: break-word;
}
.detale_html {
  width: 100%;
  height: 100%;
}
.Right_List_h3 {
  width: 100%;
  height: 40px;
  font-weight: 900;
  line-height: 40px;
  padding-left: 12px;
}
.Right_List_header {
  width: 100%;
  height: 30px;
  display: flex;
  font-size: 16px;
}
.Right_List_header .Right_List_title {
  height: 30px;
  float: left;
  line-height: 30px;
  margin-left: 12px;
}
.Right_List_header .Right_List_views {
  flex: 1;
  line-height: 30px;
  margin-left: 10px;
  font-size: 10px;
}
.Right_List_header .Right_List_title:hover {
  color: #f00;
}
.sp1 {
  font-size: 16px;
  color: #000;
}
.detale_div {
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: 16px;
}
.left_div p {
  margin-left: 20px;
  margin-top: 20px;
}
.left_div h4 {
  margin-left: 20px;
  margin-top: 20px;
}
