.messagebox {
  width: 1100px;
  div {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .message_head {
      width: 100%;
      height: 190px;
      background: #fff;
      text-align: center;
      line-height: 50px;
      h2 {
        font-weight: 600;
        font-size: 30px;
      }
    }
    .message_bottom {
      width: 100%;
      flex-grow: 1;
      text-align: center;
      h3 {
        margin: 15px 0 15px 0;
        font-size: 25px;
      }
      .message_bottom_one {
        width: 100%;
        background: #fff;
      }
      .message_bottom_two {
        width: 100%;
        background: #fff;
      }
    }
  }
}

.textareabox {
  width: 100%;
  height: 280px;
  .textareabox_children {
    width: 96%;
    height: 100%;

    margin: 10px auto;
    display: flex;
    flex-direction: row;
    .textareabox_children_left {
      width: 5%;
      height: 100%;
      .iconfont {
        font-size: 30px;
      }
    }
    .textareabox_children_right {
      width: 95%;
      height: 100%;
      border-bottom: 1px solid #ccc;
      .textarea {
        width: 100%;
        height: 100px;
        margin: 0 auto;
      }
      p {
        width: 100%;
        height: 20px;

        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        .iconfont:hover {
          color: red;
        }
      }
    }
  }
}
.wrap {
  width: 100%;
  height: 100%;
}
.wrap_1 {
  //   width: 100%;
  height: 100%;
  margin-left: 80px;

  display: flex;
  //   background: #09f;
}
// .wrap_2 {
//   display: flex;
//   // justify-content: center;
//   // flex-wrap: wrap;
// }
.left {
  width: 900px;
  padding-top: 1rem;
  padding-bottom: 2rem;
  background: white;
  border: 1px solid #ccc;
}
.left_div {
  width: 100%;
  height: 150px;
  border-bottom: 2px solid #ccc;
  position: relative;
}
.header {
  width: 100%;
  height: 50px;
}
.div_1 {
  width: 250px;
  height: 20px;
  font-weight: 900;
  margin-top: 10px;
  margin-left: 15px;
  line-height: 20px;
  font-size: 18px;
  float: left;
  border-right: 2px solid #ccc;
}
.div_2 {
  width: 80px;
  height: 20px;
  float: right;
}
.left_div .div_1:hover {
  color: #f00;
}
.right {
  width: 360px;
  background: #f00;
  margin-left: 50px;
  // width: 18rem;
  // margin-left: 1rem;
  // padding-top: 1rem;
  // padding-bottom: 1rem;
}
.imgs {
  width: 120px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate3d(-50%, -50%, 0);
  object-fit: cover;
}
.p2 {
  margin-left: 15px;
  margin-top: 15px;
}
.p1 {
  margin-bottom: 70px;
}

.detale_wrap {
  width: 100%;
  height: 100%;
  // background: #e7eaee;
  // overflow-y: scroll;
  // background: #f00;
}
.images {
  width: 100%;
  height: 357px;
}
.detale_wrap3 {
  width: 804px;
  height: 100%;
  overflow-wrap: break-word;
}
.detale_html {
  width: 100%;
  height: 100%;
}
.Right_List_h3 {
  width: 100%;
  height: 40px;
  font-weight: 900;
  line-height: 40px;
  padding-left: 12px;
}
.Right_List_header {
  width: 100%;
  height: 30px;
  display: flex;
  font-size: 16px;
}
.Right_List_header .Right_List_title {
  // width: 160px;
  height: 30px;
  float: left;
  line-height: 30px;
  margin-left: 12px;
}
.Right_List_header .Right_List_views {
  flex: 1;
  line-height: 30px;
  margin-left: 12px;
}
.Right_List_header .Right_List_title:hover {
  color: #f00;
}
.sp1 {
  font-size: 16px;
  color: #000;
}
.detale_div {
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: 16px;
}
